<div class="full_window">
  <div class="center_panel">
    <div class="content">
      <h1 class="center_alg">Editar <%= @line.name %></h1>
      <%= render 'form' %>
    </div>
  </div>

  <div class="static">
    <img src="http://maps.google.com/maps/api/staticmap?center=Palmas,TO&zoom=12&size=1024x1024&maptype=roadmap&sensor=false&scale=4">
  </div>
</div>