<div class="full_window">
  <div class="welcome_ctpanel">
    <div class="content">
      <h1 class="center_alg">Buscar linha</h1>
        <%= render 'searches/form' %>
    </div>
  </div>

  <div class="static">
    <%= image_tag('bgmaphome.png', class: "bghomemap") %>
  </div>
</div>