$main: #3656AA;

.head_actions{
  float: left;
  margin: 5px 0 0 20px;
  a{
    background: #fff;
    color: $main;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
  }
}

.l_time{
  float: left;
  background:#fff;
  color: $main;
  padding: 10px 5px;
  margin-right: 5px;
}

.return_line{
  padding-left: 5px;
}

.going_line .route{
  margin: 0 20px 10px calc(50% - 82px);
}

.return_line .route{
  margin: 0 20px 10px calc(50% - 82px);
}

.going_line, .return_line{
  float: left;
  width: 50%;

  h2{
    text-align: center;
  }

  .route{
    float: left;
    width: 165px;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;

    .route_name{
      float: left;
      width: 100%;
      height: 115px;
      line-height: 115px;
      font-size: 20px;
      color: #333;
      font-weight: normal;
      text-align: center;
      background: #88D69A;
      text-shadow: -1px 1px 0px rgba(#fff, .5);
      span{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }

    &:last-of-type{
      margin-bottom: 20px;
    }

    .week{
      float: left;
      width: 100%;
      list-style-type: none;

      .selected{
        opacity: 1 !important;
      }
      .day{
        float: left;
        background: #88D69A;
        color: #333;
        width: calc(100% / 7);
        text-align: center;
        margin-right: 0;
        opacity: .5;
        cursor: pointer;

        &:last-of-type{
          margin-right: 0;
        }
      }
    }

    .map{
      float: left;
      width: 100%;
      height: 90px;
      overflow: hidden;

      img{
        display: block;
        background: #f1f1f1;
        width: 140%;
      }
    }

  }
}

.panel{
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
}

.info_panel{
  float: left;
  width: calc(30% - 20px);
}

.new_panel{
  float: left;
  width: calc(30% - 20px);
  background: $main;
  color: #fff;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
}

// Table

.tb_panel{
  width: 70%;
  float: left;
  margin-right: 20px;
}

.tb_lines{
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px 5px 0 0;
  border-spacing: 0;

  th, td{
    padding: 7px 5px;
  }
  th{
    color: #555;

  background-color: #e7e7e7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #d9d9d9);
  background-image:    -moz-linear-gradient(top, #e7e7e7, #d9d9d9);
  background-image:      -o-linear-gradient(top, #e7e7e7, #d9d9d9);
  background-image:         linear-gradient(to bottom, #e7e7e7, #d9d9d9);

    text-shadow: 0 1px 0 rgba(#fff, .7);
    &:last-child{
      width: 100px;
    }
  }

  thead th{
    border-bottom: 1px solid #ccc;
  }

  tbody tr:nth-child(2n){
    background: #E5EAEE;
  }

  tbody tr:last-child td{
    border: none;
  }

  .name{
    text-align: left;
  }
}

// New line form
.line_form{
  .name{
    margin-top: 20px;
    input{
      width: 100%;
    }
  }

  .start_time, .end_time{
    float: left;
    width: 50%;
    select{
      min-width: 50px;
    }
  }

  .actions{
    float: left;
    margin-top: 10px;
  }
}

@media all and (min-width: 480px) {
  .going_line{
    border-right: 1px solid #ccc;
  }
  .going_line, .return_line{
    float: left;
    width: 50%;
    padding: 10px;

    .route{
      float: left;
      width: 185px;
      height: 145px;
      margin: 0 20px 20px 0;
      padding: 5px;
      box-shadow: 2px 2px 10px #ccc;
    }
  }
}

@media all and (min-width: 480px) and  (max-width: 800px){
  .hl_content{
    .search_form{
      .current_loc, .going_loc{
        margin: 0;
        .field{
          float: left;
          width: 45% !important;
          &:first-of-type{
            margin-right: 5px;
          }
        }
      }

      .actions{
        input[type="submit"]{
          float: left !important;
          padding: 10px 0 !important;
          width: 60% !important;
          margin: 10px 0 0 15% !important;
        }
      }
    }
  }

  .return_line{
    .route{
      margin: 0 20px 10px 5% !important;
    }
  }
  .going_line{
    .route{
      margin: 0 20px 10px 5% !important;
    }
  }
  .going_line, .return_line{
    margin: 10px 0 0 0;
    padding: 0px;

    .route{
      float: left;
      width: 90% !important;
      padding: 5px;
      box-shadow: none !important;

      &:last-of-type{
        margin-bottom: 20px;
      }

    }
  }
}