.search_form{
  font-size: 16px;
  width: 490px;
  margin: 0 0 -20px calc(50% - 245px);

  .current_loc{
    border-right: 1px solid rgba(#000, .2);
  }
  .going_loc{
    border-left: 1px solid rgba(#fff, .2);
    padding-left: 15px;
  }
  .current_loc, .going_loc{
    float: left;
  }
  .field{
    padding-top: 3px;
  }
  .block{
    float: left;
    margin-right: 20px;
  }
  .av{
    float: left;
    margin-right: 20px;
  }
  .actions{
    input[type=submit]{
      margin-top: 25px;
    }
  }
}

.route_div{
  margin: 10px 0;
  border: 1px solid #ccc;
}