<div class="container">
  <div class="content">
    <div class="panel tb_panel">
      <h1>Sobre o BusK</h1>

      <p>O BusK foi criado para ajudar pessoas como você que precisa usar o ônibus, mas não conhece todas as rotas. Nele, basta inserir onde você está e onde deseja ir que serão exibidas rotas que passam pelas quadras que você informou.</p>
      <br>
      <h2>Qual a diferença do BusK para os outros?</h2>
      <p>O BusK funciona em qualquer navegador, independente de sistema operacional, ou seja, em celulares, tablets, notebooks e desktops. Basta um navegador. Além disso, <strong>você não precisa conhecer as rotas</strong> para usar o BusK, assim, mesmo pessoas de outras cidades podem usá-lo sem dificuldades.</p>
    </div>
  </div>
</div>